Integrales_numericas/build/Continuous.vcxproj
Integrales_numericas/build

Integrales numericas/Archivo.txt
Integrales_numericas/a.exe
Integrales_numericas/Archivo.txt
Integrales numericas/Archivo.txt
